@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title{
  font-family: 'Slabo 27px', serif;
}
.pic{
  height:100px;
  position: relative;
}
h1{
  font-family: 'Playfair Display', serif;
}
h2{
  font-family: 'Crimson Text', serif;
  color:#a5e7f2;
}